POSTGRES_DB=itlab
POSTGRES_USER=itlab
POSTGRES_PASSWORD=itlab_dev_password
POSTGRES_PORT=5432
API_PORT=3000
WEB_PORT=5173
ADMIN_PASSWORD=change_me
SESSION_SECRET=change_me_to_a_random_string_of_at_least_32_characters
